
@media(min-width: 665px) and (max-width: 900px){
        .home{
            position: relative;
            width: 100%;
            height: 350px;
        }
        
        .nav{
            width: 100%;
            position:absolute;
            height: 50px;
        padding-top:15px;
        }
        
        .nav a{
            font-size: 18px;}

        .nav span{
            font-size: 28px;
            position: relative;
            left: 13px;
            top: -6px;
        }
        
        .nav-opt{
            position: absolute;
            right: 110px;
            top: 12px;
        }
        
        .nav-opt button{
            margin-right: 4px; 
            width: 90px;
            height: 24px;
        }
        
        .hire{
            position: absolute;
            right: 10px;
            width: fit-content;
            padding: 5px;
            top: 10px;
            border-radius: 7px;
            border: 0 solid black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 5px;
        } 
        
        .intro{
            top: 60px;
            left: 40px;
            position: absolute;
            font-weight: 900;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 45px;
            user-select: none;
        }
        
        .vist-pro{
            position: relative;
            border: none;
            padding: 15px;
            margin-top: 15px;
            border-radius: 15px;
        }
        
        .vist-pro a{
            text-decoration: none;
            font-size: 20px;
        }
        
      
    .footer-opt{
        font-size: 13px;
        text-decoration: none;
    display: flex;
    flex-direction: column;
        position: absolute;
    right:8px;
    margin-top: 35px;
    }
    
    .follow{
     display: none;
    }
    
    #social{
    position: relative;
    right: -15px;
    cursor: pointer;
    background-color: transparent;
    border: none;
        margin-bottom:3px;
    }
    
        
        .container{
            position: relative;
            width: 90%;
            height: fit-content;
            padding-bottom: 30px;
        }
        
        .about, 
        .projectes{
            position: relative;
            top: 30px;
            left:30px;
            width:100%;
            height: 10px;
        font-size: 26px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .about{
            line-height: 30px;
            position: relative;
            width: 100%;
            height: 700px;
            margin-bottom: 10px;
        }
        
        .about-p{
        position: relative;
        top: 25px;
        font-size: 24px;
        line-height: 40px;
        }
        
        .skills{ 
            position: relative;
            top: 50px;
            height: 5px;
            padding: 20px;
        }
        
        .skills-p{
            display: flex;
            justify-items:center ;
            justify-content:center ;
            position: relative;
            margin-bottom: 15px;
            font-size: 38px;
        }
        
        #lang{
            position: relative;
            width: 100px;
            margin-bottom: 5px;
            justify-content: center;
            align-items: center;
        }
        
        .la-na{
            position: relative;
        } 
        
        .bar{
            position: relative;
            width: 297%;
            height: 12px;
        }
        
        .bar::before{
            border-radius:55px;
            content: '';
            display: flex;
            justify-content: end;
            width: calc(var(--percent) * 1%);
            height: 100%;
        }
        
        .per{
            position: relative;
            width: fit-content;
            height: fit-content;
            margin-left: 300%;
            top: -20px;
        }
        
        .projectes{
            position: relative;
            margin-top: 80px;
            height: 350px;
        } 
        
        
        .projectes h1{
            justify-content: center;
            position: relative;
            margin-left: 34%;
        }
        
        .gallary {
            display: flex;
            justify-items: center;
            position: relative;
            top:40px;
            height: 80px;
        }
        
        
        .gallary #gallary-items{
        position: relative;
        border: 0.5px solid white;
        width: 90%;
        height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 10rem 0 0;
        border-radius: 0.5rem;
        overflow: hidden;
        }
        
        .note{
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.658);
            display: flex;
            border: 3px solid white;
            width: 90%;
            height: 300px;
            position: absolute;
            z-index: 99;
        }
        
        .warning{
            position: relative;
            width: 30px;
            height: 30px;
            top: 8px;
        }
        
        .note .note-content{
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            line-height: 30px;
            top: 0;
            display: block;
            position: relative;
        }
        
        #loader{
            position: relative;
            height: 90px;
            width: 90px;
            margin-top:10px;
            background-color: transparent;
            border: 8px solid white;
            border-radius: 50%; 
            border-right-color: transparent; 
            border-bottom-color: transparent; 
            animation-name: spin;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear; 
        }
         @keyframes spin {
            0%{
                transform: rotate(0deg);
            }
            
            100%{
                transform: rotate(360deg);
            }
        } 
        
        
        
        .contact-me h1{
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .contact-me{
            position: relative;
            margin-left: 20px;
            top: 5px;
            margin-bottom:0px;
            width:100%;
            height: 60px;
        }
        
        #social-con-me{
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: none;
        margin: 15px 15px 0 0;
        }
        
        .footer{
            display: flex;
            /* align-items: center; */
            justify-content: center;
            position:relative;
            padding-bottom: 30px;
            padding: 15px;
            bottom: 0;
            width: 100%;
            height: 110px;
            font-size: 13px;
        }
        
        
        .name-f{
            position: relative;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
            width: fit-content;
            left: 28px;
        }
        
            #social-f{
            position: relative;
            cursor: pointer;
            background-color: transparent;
            border: none;
            margin: 85px 15px 0 0;
            }
    }